[2019-12-18 15:34] michaeljbrazell opened #9 "missing loop over tracer viscosities"
just realized there is no loop over eta_tracer (mu_in). It should work fine for 1 tracer but adding more will just reuse the `eta_tracer(I,j,k,0)` values. This needs to be fixed before adding ksgs.

https://github.com/Exawind/amr-wind/blob/6759ba4031b9fa60bc6bf3ff546b9a971910d8b3/src/diffusion/DiffusionOp.cpp#L312

[2020-02-05 20:29] michaeljbrazell commented on #9
this was fixed in the latest merge. Thanks Weiqun and Ann!

[2020-04-02 15:21] sayerhs opened #40 "Regression tests not setup properly to fail with different results"
Currently regression tests are using `fcompare` utility to merely compare the run with a gold run and report/print out differences. `fcompare` utility still returns a success code when it returns and, therefore, the tests always pass as long as there are no problems with execution but the results are different.

Two options:
- ~Introduce a check by processing the output of `fcompare`~ Run regressi

[2020-04-02 15:27] sayerhs commented on #40
[See here](https://github.com/AMReX-Codes/amrex/blob/7d788fbc54639401a5b4ee535af179af5d0ab27f/Tools/Plotfile/fcompare.cpp#L360-L370) for the reason why I think that `fcompare` when run within CTest returns a success result. It only seems to return the success/failure code from comparison when compiled without MPI

[code]

[2020-04-02 15:56] jrood-nrel commented on #40
Interesting. I didn't realize `fcompare` was doing that. I think you're crossed out suggestion is valid. What if we process the `fcompare` output like they do in the `amrex_testing` repo and we just store the `fcompare` output?

[code]

[2020-04-02 15:58] sayerhs commented on #40
@jrood-nrel For nightly regression tests I think `fcompare` is preferrred. However, for Travis CI `fextrema` is probably better.

[2020-04-02 16:03] sayerhs commented on #40
@jrood-nrel `fcompare` would still require the full `plt` files for it to generate the the `rel_err` correct? So while it makes sense for nightly-regression testing, I am not sure if it is good for Travis CI. `fextrema` on the other hand depends only on the `plt` files generated by the run.

[2020-04-02 16:05] jrood-nrel commented on #40
Yeah now that I think about it, we need gold plot files for `fcompare` to work. I guess this is why we made the `fextrema` gold option originally. I started to not like the `fextrema` golds for PeleC because at one point they were difficult to match output on a local system with Travis CI, so they were difficult to update.

[2020-04-02 18:31] jrood-nrel commented on #40
Looking at this further, in PeleC I would build `fcompare` without MPI manually, and PeleC with MPI so that is why it always failed on diffs. However, now that I'm using AMReX's CMake for `fcompare` (which didn't exist in AMReX until I asked for it) it looks like it inherits MPI. So now I understand why this is happening. I think I might just ask AMReX if they can have `fcompare` fail correctly wi

[2020-04-10 15:56] jrood-nrel commented on #40
This should be solved by https://github.com/AMReX-Codes/amrex/commit/feff0a586a329042a351d4a89e5ec4f99bdb56b1

[2020-04-10 15:56] #40 closed

[2020-04-27 13:30] marchdf opened #90 "undeclared identifier 'Gpu'; did you mean 'amrex::Gpu'?"
I am getting this on the latest branch (clang build)
[code]

[2020-04-27 13:33] #90 closed

[2020-05-01 19:36] michaeljbrazell opened #97 "Body Force"
- Add a body force term as a momentum source
- add an input
- this eliminates the need for `set_background_pressure()`

[2020-05-04 21:47] jrood-nrel opened #101 "MPI link warnings with CUDA"
Does anybody know why there are so many link warnings with undefined MPI references ever since 31b8508f4e194b7a0fb5ac73edc5b1e0279deb3d ?

[2020-05-04 22:06] sayerhs commented on #101
@jrood-nrel The CDash test you're referring to is April 25, the test before that is for April 16. On 16th it tested 2c5362d0d23db and then the next test was for version 31b8508. In between we updated AMReX submodule snapshot. I suspect that is the reason for these warnings.

[2020-05-04 22:42] jrood-nrel commented on #101
The link errors started happening some time after 31b8508f4e194b7a0fb5ac73edc5b1e0279deb3d

[2020-05-04 22:44] sayerhs commented on #101
Can you show me the CDash output for the commit before that?

[2020-05-04 22:49] jrood-nrel commented on #101
31b8508f4e194b7a0fb5ac73edc5b1e0279deb3d is fine. Looking further into this 668310215e1ffc9cfe823fe5ca270c0734914e4d is fine too. Some time between 73ef52b0a10091f6b03fcebfc14d536c2684b365 and dcad5c1510652e0f869e02bc87a22493fae39675 these warnings appeared. It seems like 73ef52b0a10091f6b03fcebfc14d536c2684b365 is most likely.

[2020-05-04 22:58] sayerhs commented on #101
Yes, it seems like 73ef52b is the culprit, and 668310215e1ffc is clean. Isn't immediately obvious why that commit causes these warnings.

[2020-05-06 15:40] michaeljbrazell opened #103 "Add random temperature perturbations"
- Input flag exists but does not currently activate random perturbations to the temperature field.
- can use this as a guide: https://github.com/Exawind/wind-utils/blob/81b56e9c3259dc3565f7421265840a56f3c27a9f/src/preprocessing/ABLFields.cpp#L334
- make sure these are copied to device

[2020-05-06 15:44] sayerhs commented on #101
@jrood-nrel So I can confirm that the following diff makes the warnings go away. So it seems like we still need to keep around Fortran for MPI.

[code]

[2020-05-06 19:05] jrood-nrel commented on #101
Ok thanks. I put it back in.

[2020-05-06 19:05] #101 closed

[2020-05-07 22:09] marchdf opened #104 "Perform MMS on GPUs"
MMS needs to be performed on GPU. Only CPU MMS verification has been done

[2020-05-12 20:46] marchdf opened #112 "GPU compile fails with MASA"
[code]

[2020-05-13 00:13] sayerhs commented on #112
Can you also add the `cmake_output.log` file?

[2020-05-13 01:37] marchdf commented on #112
here you go: [cmake_output.log](https://github.com/Exawind/amr-wind/files/4619317/cmake_output.log)

[2020-05-13 12:54] sayerhs commented on #112
@marchdf I am unable to reproduce this error

[code]

[2020-05-13 13:20] sayerhs commented on #104
When using `amrex::ParallelFor` you'll have to create a standalone helper function that does the execution on GPU and call that function from the unit test because of how GTest creates tests within a `TEST_F` fixture.

[code]

[2020-05-13 13:51] marchdf commented on #112
that is excellent news. That means it's just a problem in my setup...

[2020-05-13 15:02] marchdf commented on #112
This was a problem in the way I was configuring the build.

[2020-05-13 15:02] #112 closed

[2020-05-13 15:30] marchdf commented on #104
Results from MMS on GPU [plots_gpu.pdf](https://github.com/Exawind/amr-wind/files/4622944/plots_gpu.pdf)

[2020-05-13 15:57] #104 closed

[2020-05-13 16:01] marchdf opened #115 "Enable MMS in regression suite"

[2020-05-13 17:05] sayerhs opened #117 "CI - Enable debug build and run unit test only"
Enable a debug build in CI that enables several assertions, e.g., out of bounds array access, and run just the unit test suite on the debug build.

[2020-05-13 19:44] michaeljbrazell opened #118 "restart regression test"
Add a regression test that uses the restart capability

[2020-05-16 20:01] #117 closed

[2020-05-27 19:13] marchdf opened #137 "Kinetic energy output feels strange"
When running the code, I see

[code]
It feels strange that we say that the one line says we are at `time = 4` and the next one says we are at `time = 3.5`.

I put a PR to address this.

[2020-05-27 20:10] #137 closed

[2020-05-27 20:31] sayerhs opened #139 "Fix derived field computations"
Investigate `compute_strainrate`, `compute_gradient`, and `compute_laplacian`

- Eliminate `grownbox` ?
- Eliminate `grow` ?
- Check multiple-levels

[2020-05-27 20:31] sayerhs opened #140 "Add reg test for ABL with static refinement for multiple levels"

[2020-05-29 17:51] gantech commented on #97
I can take this!

[2020-05-29 17:58] michaeljbrazell commented on #139
done! https://github.com/Exawind/amr-wind/pull/142

[2020-05-29 17:58] #139 closed

[2020-05-29 17:58] michaeljbrazell commented on #140
done! https://github.com/Exawind/amr-wind/pull/142

[2020-05-29 17:58] #140 closed

[2020-05-29 18:00] michaeljbrazell commented on #118
https://github.com/Exawind/amr-wind/pull/128

this runs one regression test before restarting another one so need to add the dependency

[2020-05-29 21:55] michaeljbrazell opened #143 "PLM Godunov"
merge from incflo? "Make sure to test on hoextrap as well as ext_dir when deciding to use a special stencil that uses the boundary value as living at the face not a cell center"

https://github.com/AMReX-Codes/incflo/commit/2427fd9c393e46581571bcdd26d1ad68f9c313a2

[2020-05-30 17:57] #103 closed

[2020-06-02 16:46] #118 closed

[2020-06-03 15:33] sayerhs opened #152 "Port Godunov 4-order slopes bugfix from incflo"
See amrex-codes/incflo@62dedaf5c403ba1

[2020-06-04 12:30] #152 closed

[2020-06-04 13:05] #115 closed

[2020-06-10 18:32] lawrenceccheung opened #160 "amr-wind unstable when built with intel 19"
I tried building the latest amr-wind (449d2d6) with `intel/19.0.5.281` (on Sandia clusters), and code is unstable when I try to run an ABL case.

For instance, using [inputabl.i](https://github.com/lawrenceccheung/AMRvsNaluComparisons/blob/master/AMRRuns/AMRCompare7/inputabl.i), amr-wind blows up within 10-15 iterations -- the CFL's become unreasonably large before devolving into NaN's.

There are

[2020-07-08 13:01] sayerhs commented on #97
Implemented in #166

[2020-07-08 13:01] #97 closed

[2020-07-09 12:42] sayerhs opened #167 "Geostrophic forcing term"
Pull request #146 introduced a geostrophic forcing term to the codebase. This term includes a multiplication by density before accumulating into source term. This should be fixed.

[2020-07-09 12:53] sayerhs opened #168 "Plane Averaging – deprecate ASCII output and switch to binary format as default"
- Use NetCDF format (similar to sampling and ABL boundary I/O) to output planar averaging statistics.
- Minimize code duplication in I/O logic for ASCII outputs

[2020-07-10 17:44] #167 closed

[2020-07-14 16:57] marchdf opened #174 "Fix ABL boundary planes inflow when using multiple levels"
If more than one level is present, reading inflow boundary conditions from higher levels leads to spurious velocities at the coarse-fine interface (see image). Disabling the velocity solve does not fix the issue. Disabling the nodal projection does fix the issue. It is unclear where this issue comes from. The initial thought was this came from ghost cells not being filled correctly at the fine lev

[2020-07-17 23:55] lawrenceccheung commented on #160
I just tried the latest commit (930b231) with intel 19, and the problem seems to have disappeared.  The abl case is running pretty well now and the CFL's are pretty stable.

Lawrence

[2020-07-17 23:55] #160 closed

[2020-07-20 13:06] sayerhs opened #176 "RayleighTaylor test failing on Intel build"
RayleighTaylor regression test has been failing with small diffs since #173 was merged. The most likely cause is the introduction of `-fPIC` flag during the build. All other changes are on install rules and shouldn't affect the compilation process itself.

Need to investigate if 31d4c9e0 also fails similarly if `-fPIC` flag is introduced in Intel builds or if there is something else that changed i

[2020-08-05 23:03] gantech commented on #168
I suppose https://github.com/Exawind/amr-wind/pull/175 addressed this already?

[2020-08-27 12:47] #143 closed

[2020-09-04 17:27] jrood-nrel opened #202 "Memory error in abl_bndry_output"
https://my.cdash.org/test/8724979

[2020-09-09 17:37] rd-contr opened #204 "error: 'Gpu' has not been declared"
I am trying to build the latest amr-wind on a Cray XC50 with GCC 7.2.0 and receive an error when it is trying to compile FieldPlaneAveraging.cpp. Current git repo hash, cmake statement, and compile errrors are in the attached text file.

[amr_wind_build_error.txt](https://github.com/Exawind/amr-wind/files/5196993/amr_wind_build_error.txt)

[2020-09-09 17:39] michaeljbrazell commented on #204
we haven't tested openmp thoroughly, try turning that off

[2020-09-09 17:43] michaeljbrazell commented on #204
but yes, good catch, it is a bug. It should probably be amrex::Gpu::notInLaunchRegion()

[2020-09-09 17:46] rd-contr commented on #204
Removing the openmp option in cmake cleared out the error. Many thanks.

From: Michael J. Brazell <notifications@github.com>
Sent: Wednesday, September 9, 2020 11:40 AM
To: Exawind/amr-wind <amr-wind@noreply.github.com>
Cc: Decker, Robert K CTR USAF USAFA USAFA/DFAN <Robert.Decker.ctr@usafa.edu>; Author <author@noreply.github.com>
Subject: Re: [Exawind/amr-wind] error: 'Gpu' has not been declared

[2020-09-09 21:11] #204 closed

[2020-09-09 21:11] sayerhs commented on #204
Fix implemented in 3ad40012

[2020-09-22 18:46] #202 closed

[2020-10-05 20:10] rd-contr opened #214 "Error running on SGI"
I just built the latest snapshot on an SGI but receive "amrex::Abort::SIGABRT" on startup. The code also generates several Backtrace files. Details from the current build are listed below. I am also including the details of one Backtrace as well as the input for the solver (I have run this solver input through a slightly older build on a Cray w/o issue).

**Details about solver version/build:**

[

[2020-10-05 20:16] sayerhs commented on #214
Thanks for reporting the issue. We are adding physics models to AMR-Wind actively and this sometimes introduces new parameters in the input file, and generating errors with old input files. In this particular instance, the input file is missing a mandatory parameter

https://github.com/Exawind/amr-wind/blob/01187b82a07ed9ce4dfb1ca2d380c3f8f8c3eb65/test/test_files/abl_godunov/abl_godunov.i#L39

I w

[2020-10-05 20:20] rd-contr commented on #214
Got it. I will be better about tracking the input file from the current git repo where I am building.

[2020-10-05 20:42] #214 closed

[2020-10-10 20:54] sayerhs opened #222 "Reuse MacProjector and NodalProjector instances"
**Issue:** Currently AMR-Wind creates a new `amrex::MacProjector` and `amrex::NodalProjector` within predictor and corrector steps during time integration. When using hypre as external solver (or bottom solver), this does not allow reuse of hypre setup and preconditioner and is inefficient.

**Desired:** Store instances of `amrex::MacProjector` and `amrex::NodalProjector` across timesteps resettin

[2020-10-15 19:21] rd-contr opened #228 "Segfault after grid adaption"
I am trying to run the abl_godunov_cn case but with adaption turned on by turning off constant density and specifying incflo.graderr. It looks like the grid adaption works but the overall process segfaults before any new iterations are completed on the adapted grid. Solver version and input are below. Entirely possible that I don't have all of the settings in place for AMR. I'm open to any suggest

[2020-10-15 19:28] sayerhs commented on #228
Non-constant density with ABL simulations is not something that has been tested ... terms like BoussinesqBuoyancy etc are assuming constant density. Also, I am not sure if density is the right criteria for regridding for ABL flows. However, that being said, it is unclear where your segfault is occurring, if you can provide a stack trace that would be useful.

If you want to just try multiple level

[2020-10-15 19:44] rd-contr commented on #228
Understood on constant versus non-constant density. I was only running with non-constant because density variation appeared to be the only variable that AMR could be triggered through the incflo input settings. I see that incflo and IAMR have different settings to trigger AMR but it wasn't clear to me if those were specific to incflo or IAMR, or if they were an underlying setting from AMReX. I did

[2020-10-15 19:51] sayerhs commented on #228
@rd-contr Understood. In that case, I'll recommend the Rayleigh-Taylor case which uses density based dynamic adaptation. It is a better case to explore dynamic adaptation than the ABL case you were playing with https://github.com/Exawind/amr-wind/blob/development/test/test_files/rayleigh_taylor_godunov/rayleigh_taylor_godunov.i

Also if you don't mind, may I ask what application you were consideri

[2020-10-15 20:05] sayerhs commented on #228
The density based tagging is implemented here: https://github.com/Exawind/amr-wind/blob/8cf1eb849a7b51f291438c9ae50929c2280c1f1d/amr-wind/incflo_tagging.cpp#L55-L80

We have been planning to use a class-based refinement criteria https://github.com/Exawind/amr-wind/blob/8cf1eb849a7b51f291438c9ae50929c2280c1f1d/amr-wind/utilities/tagging/RefinementCriteria.H#L30 the static refinement is implemented

[2020-10-15 22:36] rd-contr commented on #228
Here is a copy of the backtrace.

\=== If no file names and line numbers are shown below, one can run
            addr2line -Cpfie my_exefile my_line_address
    to convert `my_line_address` (e.g., 0x4a6b) into file name and line number.
    Or one can use amrex/Tools/Backtrace/parse_bt.py.

\=== Please note that the line number reported by addr2line may not be accurate.
    One can use

[2020-10-15 22:37] rd-contr commented on #228
We are interested in AMR-Wind to help with estimates of optical distortion caused by atmospheric turbulence.

[2020-10-15 22:38] rd-contr commented on #228
Thanks for the tips on where to start poking around in the code for cell tagging for adaption. I'll take a closer look.

[2020-10-16 00:10] sayerhs commented on #228
@rd-contr thanks for the backtrace, I see that the error is generated in `computeplanar()` which currently has a limitation that the height where it is computing the mean velocities should  have the finest level covering the entire x/y domain extent. We didn't anticipate that anyone would be doing dynamic refinement for ABL (in near term), so we decided to simplify code with that limitation, and p

[2020-10-16 00:37] sayerhs commented on #228
@rd-contr Looking at the ABL codebase, I think there is a workaround that will allow you to run dynamic mesh adaptation with ABL (hopefully using something else other than density as a criterion). Let's say your Level0 mesh is 10m resolution (the coarsest resolution) and you want `max_level = 3`, then you can create a static refinement near the ground (up to 20m, that is encompassing the first two

[2020-10-16 15:49] rd-contr commented on #228
Here is the output that was written to stdout/stderr during the run. The density variations are very small. I ran a case without adaption, looked at the gradients of density in the result, and then set the density gradient for the adaption accordingly. The gradient is incredibly small (on the order of 1e-13), so the settings are really contrived. I was just trying to get it to adapt to see how the

[2020-10-16 15:50] rd-contr commented on #228
Thanks for the suggestion about adapting near the ground. Let me give that a try and see what it does.

[2020-10-16 19:36] sayerhs commented on #228
@rd-contr Thanks, I'll take a look at the log file. Also with #229 merged, your previous experiment might work if you want to try.

[2020-10-19 03:17] rd-contr commented on #228
Looks like my previous experiment is working with the latest version of the code (I pulled to commit 0fb46dba). The resulting adapted grid still doesn't look as I would expect but I'm sure that's because adaption based on density or density gradient is still not the right quantity to target for adaption. I plan to take a look at tagging based on a different quantity and see what that does. I'm goi

[2020-10-19 03:17] #228 closed

[2020-11-09 19:51] marchdf opened #253 "Lost documentation on RTD"
It looks like we lost the `developer` docs on RTD (https://amr-wind.readthedocs.io/en/latest/user/user.html) Theory and user manuals are still there though. Is this related to #249 ?

[2020-11-09 23:26] rd-contr opened #254 "Reading planar sampling output"
Are there any suggestions on how best to view planar sampling output? I have no issues reading volume outputs in Paraview/Visit. But the planar sampling outputs don't want to load natively in either viz software. I have been able to modify directory structure of the sampling results (basically creating a "particles" subdirectory and moving the Header and Level_* into the particles subdirectory) an

[2020-11-09 23:37] sayerhs commented on #254
We have been mostly using NetCDF format for sampling output and manipulating the resulting NetCDF files with Python/matplotlib. The images you refer to in the exawind/wind-energy repo is loading the full 3D flowfield in ParaView (@gantech can confirm).

If you want to continue using native format, I have heard that [yt](https://yt-project.org/) is another option to visualize AMReX datasets? We wil

[2020-11-09 23:41] sayerhs commented on #253
Fixed in 4e16da07fb2fc1c710b

[2020-11-09 23:41] #253 closed

[2020-11-09 23:46] rd-contr commented on #254
I would be fine with using NetCDF and python/matplotlib. I will look at making the change so that AMR-Wind willl write out sampling data in NetCDF. That seems like the easiest path forward at this point.

I tried yt and Amvis as well, but neither worked. Amvis says that the dataset is 0D and it doesn't know how to display. yt says that it can't load the data.

I'm happy to provide any error output

[2020-11-09 23:53] sayerhs commented on #254
@rd-contr NetCDF support must be explicitly activated in AMR-Wind.

[code]

You can see this [IPython notebook](https://github.com/Exawind/wind-energy/blob/master/GABLS/compareRuns_gabls.ipynb) for an example of how to extract data from the netcdf files.

[2020-11-10 00:00] rd-contr commented on #254
Copy. Thank you for the pointer on adding the NetCDF support. I'll get my binaries rebuilt. Will also check out the iPython notebooks.

[2020-11-10 00:59] sayerhs commented on #254
@rd-contr If you are comfortable with python scripting, then you might also want to look into the AmrexParticleFile in the tools directory. I have not used it a lot after we moved to NetCDF, but you might be able to use this to process the files you already have https://github.com/Exawind/amr-wind/blob/4e16da07fb2fc1c710b8e893483ecb3d9665e6cd/tools/amrex_particle.py#L16-L20

[code]

The Pandas Dat

[2020-11-10 18:28] rd-contr commented on #254
Thanks for the tip on the python code for interacting with AMReX particle files. I will check it out.

[2020-11-21 23:07] sayerhs commented on #254
@rd-contr closing issue due to inactivity. Please reopen if you have follow-up questions.

[2020-11-21 23:07] #254 closed

[2020-11-21 23:07] #176 closed

[2021-01-28 21:58] rd-contr opened #330 "Dynamic refinement question"
When using the dynamic refinement through the tagging infrastructure, is it possible for a cell that was once tagged for refinement to be coarsened again when the refinement criteria is no longer exceeded? Or does a cell remain refined once it is ever tagged for refinement?

[2021-01-28 22:01] asalmgren commented on #330
Each time that the code does a "regrid" it recreates grids -- so think of
it as a cell being refined again each time a regrid happens rather than
staying refined

So if at the time of a regrid the refinement criterion is not satisfied,
that cell will not be refined

(there are subtleties in that a cell may be refined if not meeting the
criterion because it is part of a box containing other refined

[2021-01-28 22:03] rd-contr commented on #330
That does help. I saw where tagging gets set in the code but didn't see where the tag(i,j,k) variable was being reset on the regrid variable.

[2021-01-28 22:05] asalmgren commented on #330
grep for "regrid_int" :-)

On Thu, Jan 28, 2021 at 2:03 PM rd-contr <notifications@github.com> wrote:

--
Ann Almgren
Senior Scientist; CCSE Group Lead

[2021-01-28 22:20] sayerhs commented on #330
@rd-contr The different tagging criteria are implemented as sub-classes of `RefinementCriteria` – see  [utilities/tagging](https://github.com/Exawind/amr-wind/tree/main/amr-wind/utilities/tagging). The most common example is refinement based on a field or the derivative of a field... this is implemented in `FieldRefinement`

https://github.com/Exawind/amr-wind/blob/1319185f292cc70470d26de58d458506

[2021-01-28 23:29] rd-contr commented on #330
I appreciate the details from you both. I just started experimenting with the QCriterion refinement and found that it was behaving more like the static refinement. But based on the response here, it is because my refinement cutoff criterion is most likely too low and it is marking all cells near the ground as requiring refinement on every regrid cycle. I will continue to mess with the various leve

[2021-01-28 23:39] sayerhs commented on #330
@rd-contr Note that by default q-criterion refinement is using a non-dimensional criteria... please make sure that is what you want... or set `nondim = 0` in input file.

@michaeljbrazell can provide more details about the non-dimensional vs. dimensional uses. His suggestion for non-dimensional values is to start with 1.0 and iterate.

[2021-01-29 03:06] michaeljbrazell commented on #330
The dimensional q-criterion will tag for refinement when the absolute value of q-criterion exceeds the input value(s).

The non-dimensional q-criterion will tag for refinement when the value exceeds the input value(s). A reference for non-dimensional q-criterion is: https://www.sciencedirect.com/science/article/pii/S0021999111002725
"Irrotational flow occurs when threshold -> -1/2, and solid body

[2021-02-08 20:01] michaeljbrazell opened #336 "add wall model regression tests"
PR https://github.com/Exawind/amr-wind/pull/335 added more wall models which do not currently have regression tests

[2021-02-12 22:25] sayerhs commented on #330
@rd-contr I am going to close this in case you don't have any further questions.

[2021-02-12 22:25] #330 closed

[2021-02-12 22:27] sayerhs commented on #228
@rd-contr Recently we updated the wall shear-stress model (see PR #335) to better behave with nested mesh refinement near the ground. You might want to check if the latest options helps with your problem.

[2021-02-12 22:30] aarontcopal2 opened #343 "amr-wind build failure"
Hello,

I tried to build amr-wind using the instructions given at : https://exawind.github.io/amr-wind/user/build.html

Towards the end of the build, I get the following error. Looking at the error, it isn't clear to me what is going wrong.
[code]

The cmake command that I used was
`cmake -DAMR_WIND_ENABLE_TESTS:BOOL=ON -DAMR_WIND_USE_INTERNAL_AMREX:BOOL=ON -DAMR_WIND_ENABLE_DPCPP:BOOL=ON -DCMAKE_

[2021-02-12 22:36] jrood-nrel commented on #343
Can you try a newer version of binutils (`ld`) for your machine?

[2021-02-12 22:41] sayerhs commented on #343
@aarontcopal2 Can you please share the following:

- full output from the `cmake` command
- Output of `make VERBOSE=1` command
- Any particular reason you're using DPCPP? If you are targeting intel compilers on CPUs, you don't need that flag.

[2021-02-13 00:37] aarontcopal2 commented on #343
@jrood-nrel I am loading the intel oneapi module

@sayerhs , I had not saved the previous cmake output, so I did a fresh build. This time the cmake failed(I don't know why, maybe some environment config changed. I am trying to find the issue).

[code]

P.S: I see `Link line                = -pthread` instead of -lpthread in the cmake output log. Is that fine?

[2021-02-13 00:47] sayerhs commented on #343
@aarontcopal2 So you can see the following warning

[code]

Can you please try this CMake command (please make sure to purge all CMake cache files)

[code]

You can also refer to the build rules in our CI workflow:

https://github.com/Exawind/amr-wind/blob/8f72cccc898f8978cf1ddc9ccc2b9fc8a5f13320/.github/workflows/dpcpp-ci.yml#L65-L73

[2021-02-13 00:50] sayerhs commented on #343
You can also compare the CMake/Make output from your system to the output in our CI: https://github.com/Exawind/amr-wind/runs/1890985811?check_suite_focus=true#step:5:72

[2021-02-13 02:00] aarontcopal2 commented on #343
@jrood-nrel I am loading the intel oneapi module

@sayerhs , Here is the cmake output (I was able to resolve the errors after adding dpcpp path for CXX)

[code]

make crashed towards the end. The make VERBOSE=1 shows the below command, it takes up ~10minutes to run before failing
[code]

[2021-02-13 02:09] sayerhs commented on #343
@aarontcopal2 i am deleting your last post because it looked like it had NDA restricted information in the post. Sorry about that. Please remove any NDA restricted material in future posts.

It looks like the build error is only for the shared module. You might be able to work around this by doing

[code]

This will most build the executable and not the shared library. Please try that and let me k

[2021-02-13 02:35] aarontcopal2 commented on #343
What was the NDA restricted info? (so that I can be more careful next time)

[2021-02-13 17:11] aarontcopal2 commented on #343
I get the same error for make amr_wind.

@sayerhs What was the NDA restricted info? (so that I can be more careful next time)

[2021-02-18 17:10] tonyinme opened #353 "Inflow outflow last time-step"
When running an inflow/outflow simulation, there are some checks in the code that do not allow the last time-step to be completed if the last time of the simulation is the same as the last time in the boundary data.

This error shows up at the last time-step:
[code]

[2021-02-20 03:24] aarontcopal2 commented on #343
Can someone help me with this issue?

[2021-02-21 21:26] sayerhs commented on #343
@aarontcopal2 I am unable to reproduce this error on systems I've access to with SYCL/DPC++ compiler... we might have to ask intel compiler devs if they have any insights.

[2021-02-21 21:58] sayerhs commented on #336
Fixed in #355

[2021-02-21 21:58] #336 closed

[2021-02-23 08:05] aarontcopal2 commented on #343
@sayerhs which dpcpp compiler version are you using?

[2021-02-23 14:21] sayerhs commented on #343
We are using [2021.1.2](https://github.com/Exawind/amr-wind/runs/1955323414?check_suite_focus=true#step:5:27)

[2021-02-23 15:36] aarontcopal2 commented on #343
@sayerhs
Thanks, running the commands in the link above lead to a successful build.

Although, now there is runtime failure. I followed the steps given in https://exawind.github.io/amr-wind/user/inputs.html. I created inputs.abl as the sample snippet given in this link. Below is the error that I get:
[code]

[2021-02-23 16:16] sayerhs commented on #343
@aarontcopal2 Please use the input files with Smagorinsky turbulence model [abl_godunov regression test](https://github.com/Exawind/amr-wind/tree/main/test/test_files/abl_godunov). We have been working around an issue where registration of turbulence model doesn't fully work with the SYCL/DPCPP build setup.

[2021-02-23 17:50] aarontcopal2 commented on #343
@sayerhs
thanks. That worked. I think this issue can be closed (unless you want to keep it for tracking the previous make errors)

[2021-02-23 17:52] sayerhs commented on #343
@aarontcopal2 Thanks for update. Let's close this for now. We can always reopen if there are additional updates.

[2021-02-23 17:52] #343 closed

[2021-03-05 21:02] michaeljbrazell opened #372 "compute kinetic energy/enstrophy"
move these methods out of incflo.H and into a PostProcessing /DerivedQty type object

[2021-03-10 18:09] michaeljbrazell commented on #372
moved these in this PR https://github.com/Exawind/amr-wind/pull/371

However now the issue is missing documentation for post processing (including field norms)

incflo.post_processing = enstrophy ke
ke.type = KineticEnergy
ke.output_frequency = 1
enstrophy.type = Enstrophy
enstrophy.output_frequency = 1

[2021-03-15 22:15] cmkaul opened #375 "Specify initial velocity as a profile"
I need to specify initial velocity as a profile (rather than as a value that is constant in height) for a simulation I would like to perform, similar to the existing capability to supply a potential temperature profile. I see this listed as a "TODO" in wind_energy/ABLFieldInit.cpp. Are there any plans to move forward with adding this capability?

[2021-03-15 22:28] sayerhs commented on #375
@cmkaul We can add that capability as it wouldn't take a lot of time. There is a similar functionality with user-defined functions (https://github.com/Exawind/amr-wind/blob/main/test/test_files/freestream_godunov/freestream_godunov.i#L35-L36) that could be repurposed in ABL physics.

Also @shashankNREL has been working on using a NetCDF file to use WRF velocity/temperature profile to force the pre

[2021-03-15 22:54] cmkaul commented on #375
Thanks @sayerhs. The development by @shashankNREL might be the best route, if he can share that. I'm trying to initialize from observed soundings rather than WRF outputs, but conceptually it should all be quite similar.

[2021-03-15 22:57] sayerhs commented on #375
@shashankNREL all the more motivation to submit a PR and get the code merged to mainline ;)

[2021-03-16 11:42] shashankNREL commented on #375
@cmkaul : Please take a look at my branch where I am initializing and forcing using a WRF output (https://github.com/shashankNREL/amr-wind/blob/2a0ad08e19cab01ae31c4f4adbecd6ef06b90caf/amr-wind/wind_energy/ABLFieldInit.cpp#L12). Let me know if you have any questions.
@sayerhs : absolutely once I finish this validation case and put together a verification test case. I agree we should push this main

[2021-03-16 17:04] cmkaul commented on #375
@shashankNREL, thank you.

[2021-03-16 17:04] #375 closed

[2021-03-20 13:31] Neimhin opened #377 "Typo in README.md"
Is it an incompressible flow *sover* or *solver*?

[2021-03-22 15:33] jrood-nrel commented on #377
Fixed. Thanks!

[2021-03-22 15:33] #377 closed

[2021-03-27 05:15] aarontcopal2 opened #378 "slowdown after adding debugging flags"
Hello,

Sometime back I had installed amr-wind successfully using the following commands
[code]

And the command I use to run the application is:
`./amr_wind ../../test/test_files/abl_godunov/abl_godunov.i time.max_step=20`

I had to rebuild the repository since it was missing debugging flags. In the new build, I added 2 more options to cmake to make this work.
[code]

And when I tried to run amr_

[2021-03-31 06:55] aarontcopal2 commented on #378
@sayerhs Could you help me with this?

[2021-03-31 11:59] sayerhs commented on #378
@aarontcopal2 I am not sure if this is an issue with AMR-Wind (or rather how we would address this at AMR-Wind level). Have you tried building `RelWithDebInfo` builds with GCC/LLVM or Intel (non SYCL/DPC++) compiler to check if it causes this slowdown?

If this occurs only with DPC++ and you absolutely need to use it, then we will have to discuss with Intel compiler devs to understand the issue.

[2021-04-04 17:09] sayerhs commented on #378
@aarontcopal2 We heard back from the Intel compiler team. They have observed this slowdown as well and are working on this. From Intel:

They recommend trying ahead-of-time compilation as a workaround, but it is currently disabled in AMReX. Let me know if you want to attempt this and I'll show you what needs to be done with the AMReX submodule.

[2021-04-04 18:28] sayerhs opened #383 "Regression tests not added to nightly test suite"
Several regression test directories added to [test/test_files](https://github.com/Exawind/amr-wind/tree/main/test/test_files) are not run nightly. Most appear to be related to MultiPhase

- [x] `abl_godunov_weno`
- [x] `dam_break_godunov`
- [x] `sloshing_tank`
- [x] `act_fixed_wing`
- [x] `act_flat_plate`

[2021-04-04 18:30] sayerhs commented on #383
Actuator tests are being handled in #381

[2021-04-04 20:36] aarontcopal2 commented on #378
Sure, you can tell me the steps to enable AOT compilation

[2021-04-05 15:18] sayerhs commented on #383
Dam break and sloshing tank handled in #379

[2021-04-06 16:01] michaeljbrazell commented on #383
abl_godunov_weno #384

[2021-04-06 16:01] #383 closed

[2021-04-17 17:05] sayerhs opened #391 "Hypre tests failing on CUDA builds"
[code]

[2021-04-19 20:03] PaulMullowney commented on #391
Hmmm. This test runs for me.

[2021-04-19 20:13] PaulMullowney commented on #391
HYPRE: solver = GMRES; preconditioner = BoomerAMG
Creating BoomerAMG preconditioner
Creating GMRES solver
HYPRE GMRES: Num. iterations = 39; Relative residual = 5.540693069e-13
  MAC_projection                 1         0.00340474802       2.308008927e-15
  temperature_solve              1       1.920000159e-08       3.353761713e-12
  velocity_solve                 3         0.01210078903        8

[2021-04-22 20:18] shashankNREL opened #396 "Boundary plane input on GPUs"
I am trying to run the abl_bndry_input regression test case on GPUs (Eagle and Summit). I first ran the abl_bndry_output test case to generate all the relevant files to run the abl_bndry_input regression test case. The case works without any problem on CPUs on Eagle. The same case with GPU build on eagle (and Summit) gives the wrong initial residual for Mac projection and crashes in the MAC_projec

[2021-04-22 20:20] jrood-nrel commented on #396
We test nightly on Eagle's GPUs.

[2021-04-22 20:20] marchdf commented on #396
Hey Shashank, I believe I tested this with Eagle when I initially did this. But clearly it is not anymore... I will look into it.

[2021-04-22 20:27] jrood-nrel commented on #396
@michaeljbrazell I see `abl_bndry_input` as a test directory but it's not in the actual list.

[2021-04-22 21:03] sayerhs commented on #396
@jrood-nrel `abl_bndry_{input,output}` requires AMR-Wind built with NetCDF support. So these tests are skipped in the GPU builds.

[2021-04-22 22:46] PaulMullowney commented on #396
Regarding mac_proj, Using hypre master on GPUs, I run abl_godunov with:

mac_proj.verbose = 1
mac_proj.mg_verbose = 1
mac_proj.mg_cg_verbose = 1
mac_proj.mg_rtol = 1.0e-8
mac_proj.mg_atol = 1.0e-13

mac_proj.max_coarsening_level = 0
mac_proj.bottom_solver = hypre

mac_proj.bottom_verbose = 0
mac_proj.bottom_rtol = 1.0e-8
mac_proj.bottom_atol = 1.0e-16
mac_proj.bottom_maxiter = 50
mac_proj.hypre_na

[2021-04-23 12:53] sayerhs commented on #391
@PaulMullowney Seems like it was failing previously due to the disk usage limit issues. Once Jon has moved the test directory, it seems to be fine. I would like to close this issue. Can you please update the regression tests with your recommend hypre settings and submit a PR? It would be good to have them captured and tested in the regression test suite.

[2021-04-23 12:53] #391 closed

[2021-04-23 12:54] sayerhs commented on #396
@PaulMullowney this test is not failing due to hypre. It is using native AMReX solvers. This particular set has a different inflow condition that is read from a NetCDF file, and we suspect that there is some issue with setting the BC itself. As I mentioned in #391, if you can update the ABL regression test with hypre solvers with these input settings, that would be great.

[2021-04-26 23:01] #396 closed

[2021-04-28 19:28] michaeljbrazell opened #406 "Reynolds Stress Averaging and Actuator Lines documentation"
- Documentation is lagging for Reynolds stress averaging and actuator lines.
- There is some complicated prefixing that happens for actuator lines and needs to be carefully explained. For example see F2 overriding num_points:

[code]

[2021-04-28 19:29] #372 closed

[2021-04-28 19:37] sayerhs commented on #406
Here is a more complicated example for _actuator_

[code]

[2021-05-11 05:10] aarontcopal2 commented on #378
@sayerhs any updates on this?

[2021-05-27 12:00] shashankNREL opened #414 "Boundary input file feature on GPU crashing"
I am trying to run the regression test case `abl_bndry_input` on GPUs on Eagle. One key difference is that I tried adding 2 levels of refinement far from the boundary through static refinement. As soon as the code initiates a refinement the code crashes.
I am running the `main` branch.

[code]
Following is the error message that I see. Somehow the error is with NetCDF complaining `No group found`

[2021-05-27 12:21] sayerhs commented on #414
@shashankNREL Are you certain the code doesn't crash on CPU? Currently, the ABLBoundaryPlane won't work if the multiple levels are not touching the boundary.

https://github.com/Exawind/amr-wind/blob/319ad956f0f85fbe2c41fbec97b69f7b63a190c9/amr-wind/wind_energy/ABLBoundaryPlane.cpp#L438

@gantech  has a patch to workaround this for his IEA work.

[2021-05-27 19:51] lawrenceccheung opened #415 "Parallel run of AMR-Wind with OpenFAST/ALM"
I'm running an OpenFAST simulation and hitting an error when I use a specific number of cores.

The case is basically the same as @tonyinme's [nrel5mw example](https://github.com/tonyinme/amr-wind/blob/openfast_example/test/test_files/act_openfast_nrel5mw/alm.i), with a different turbine model in place (see model [here](https://github.com/NREL/openfast-turbine-models/tree/f/IEA-scaled-2.5-116/IEA-

[2021-05-27 22:06] shashankNREL commented on #414
@sayerhs and @gantech: The patch was useful and I was able to run the regression test on GPUs.

I started looking into this because when I was trying to run a case on Summit with ABL as inflow with ALM. There I got the following errors
[code]
And so with a little probing I found that the problem happens
[code]
So the culprit seems to be `ABLBoundaryPlane.cpp`, a ParallelFor in the routine populate

[2021-05-27 22:09] shashankNREL commented on #414
The static refinement is not close to any of the inflow planes
[code]
and the static_box.txt is
[code]
and I put Ganesh's fix here as well.

[2021-05-27 22:26] sayerhs commented on #415
Does it also crash with the main branch?

The error message indicates that the particle reinitialization is not performed correctly. Can you post the full stack trace?

[2021-05-27 22:34] sayerhs commented on #415
@lawrenceccheung also why is your CFL zero? Can you verify that the OpenFAST actuator locations are sane?

[2021-05-27 23:13] lawrenceccheung commented on #415
Oh whatever the bug is, this issue disappears on the latest main branch.  I had tested it from a build of the main branch back on May 4 (SHA: d5555c77aa8267047503feaa3ab7ecdf372c674f), and it was failing, but the latest main branch (319ad956f0f85fbe2c41fbec97b69f7b63a190c9) seems to work.

It's strange, when it runs, the CFL's are normal and the turbine operates okay.  But using the older branches

[2021-05-27 23:18] #415 closed

[2021-05-28 22:14] shashankNREL commented on #414
@sayerhs : @gantech had mentioned that he set the number of levels within ABLBoundaryPlane.cpp to 1 and so I did the following
[code]
             Not sure if I forgot something. Please let me know if I missed something.

[2021-05-29 01:59] sayerhs commented on #414
@shashankNREL `ABLBoundaryData::populate_field` is called in `ABLFillInflow::fillpatch` operations. So we will want to skip filling boundary planes `if (lev > 0)`. Can you add an early return here before line 538?

https://github.com/Exawind/amr-wind/blob/319ad956f0f85fbe2c41fbec97b69f7b63a190c9/amr-wind/wind_energy/ABLBoundaryPlane.cpp#L530-L538

[code]

[2021-06-02 15:08] shashankNREL commented on #414
@sayerhs: Due to eagle queue issues, I couldn't test this earlier but was able to test it yesterday and it worked for me. I'll just finish the GPU test on Summit for completeness and close this issue.

Thanks again for your help with this issue.

[2021-06-04 07:40] #406 closed

[2021-06-06 00:16] aarontcopal2 commented on #378
@sayerhs @jrood-nrel @michaeljbrazell
Could someone help me with this?

[2021-06-07 20:56] ArtemTKir opened #420 "Boundary conditions"
Hello.
Answer me please how i can to do specific time-depends boundary conditions?  I want to model jet/flow from left boundary where V_x = const*sin(t) in 5<y<7. My box have parameters xlo, ylo = 0 and xhi, yhi = 10.

[2021-06-07 21:05] michaeljbrazell commented on #420
Hi, you can add your own user defined function (UDF) here: https://github.com/Exawind/amr-wind/tree/main/amr-wind/physics/udfs

use linear and power law as examples but note that they don't use time which is the 4th input

[code]

[2021-06-07 21:13] michaeljbrazell commented on #420
@gantech can you provide an input file snippet for udf's?

[2021-06-09 23:51] lawrenceccheung opened #423 "GeometryRefinement level specification"
I think there's a bug with the `GeometryRefinement` level specification.  If I try something like this:

[code]
The refinement in `box1` happens at all levels and I get a larger mesh than I expected.  However, `min_level` and `max_level` specifications seem to be working fine.

Looking at `GeometryRefinement.cpp`:
https://github.com/Exawind/amr-wind/blob/9f619d1218d716281c6cf6b97e1fe13dd8953e48/am

[2021-06-10 01:52] sayerhs commented on #423
@lawrenceccheung for what you want to do, I'd intended to  use `box1.max_level = 0`.  But yes, your suggestion makes sense, please go ahead and submit a PR.

[2021-06-11 19:58] tonyinme opened #425 "Inflow/outflow mesh refinement"
I am working on creating an example for inflow/outflow simulations with an openfast actuator line turbine and grid refinement. We currently need some workarounds/hacks in order to get this working.

This workaround was done by following the recommendations from @gantech.

The steps to make it work is as follows:

0. Modify the code in [ABLBoundaryPlane.cpp ](https://github.com/Exawind/amr-wind/blo

[2021-06-11 20:05] sayerhs commented on #425
@tonyinme

- We should not have to hard code `nlevels` in ABLBoundaryPlane. The code should be refactored to only apply refinements for levels that are available in the saved precursor file. However, one question we have to agree on is whether we will have refinement levels touching the precursor inlet boundaries. Handling all use cases is going to be a bit tricky.
- Simulation 2 should not be req

[2021-06-11 21:20] marchdf commented on #425
Hi all, I will be looking into this (as well as the similar issues in #414 )

[2021-06-13 17:59] sayerhs commented on #378
@aarontcopal2 I apologize for not responding sooner. I am no longer employed at NREL and, therefore, do not have access systems where I can test DPC++ issues. Since this requires some changes at AMReX level (and possibly discussions with Intel devs) I am tagging AMReX devs (@WeiqunZhang @ax3l) here to see if they will be able to provide you with some help.

[2021-06-13 21:42] WeiqunZhang commented on #378
You can try `-DCMAKE_CXX_FLAGS="-fsycl-targets=spir64_gen-unknown-unknown-sycldevice -Xs \"-device XXX\""`, where `XXX` is your device.  See https://software.intel.com/content/www/us/en/develop/documentation/oneapi-dpcpp-cpp-compiler-dev-guide-and-reference/top/compilation/ahead-of-time-compilation.html.

[2021-06-13 23:20] aarontcopal2 commented on #378
I tried out your suggestion @WeiqunZhang , but I get an error. I have attached the same below:
[code]

[2021-06-13 23:33] WeiqunZhang commented on #378
I guess you can use
[code]
 instead of
[code]

[2021-06-13 23:46] WeiqunZhang commented on #378
I don't use cmake.  But I guess you may also need to add that to the linker flag, `CMAKE_EXE_LINKER_FLAGS`.

[2021-06-14 00:26] aarontcopal2 commented on #378
Do you mean there should be a line in CMakeCache.txt like this:

`CMAKE_EXE_LINKER_FLAGS:STRING=-fsycl-targets=spir64_gen-unknown-unknown-sycldevice -Xs '-device Gen9'`

[2021-06-14 00:51] WeiqunZhang commented on #378
What I mean is I believe the linker needs to have that option too.  As for what's the proper cmake way to achieve that, I don't know.  Maybe `-DCMAKE_EXE_LINKER_FLAGS=...` as a command line argument works.

[2021-06-14 03:59] #423 closed

[2021-06-14 16:17] ax3l commented on #378
That's right, nonetheless, we try to write a ""- containing string into a C char string that uses the same escaping in buildInfo, which causes this error posted above.

We could try the 'single quote' as suggested or run string(REPLACE ...) in buildInfo to try to escape out "double quotes" before pasting them into the C string literal. How do we clean up such strings in GNUmake?

[2021-06-14 22:09] #414 closed

[2021-06-14 22:09] #425 closed

[2021-06-15 16:34] lawrenceccheung opened #429 "Boundary planes for `xhi`/`yhi` planes"
While we're discussing making changes to the boundary planes I/O, how difficult would it be to also to capture/reapply data on the  `xhi`/`yhi` planes:

https://github.com/Exawind/amr-wind/blob/57645d5369a89a616e04c45803ac090097196c90/amr-wind/wind_energy/ABLBoundaryPlane.cpp#L230-L231

https://github.com/Exawind/amr-wind/blob/57645d5369a89a616e04c45803ac090097196c90/amr-wind/wind_energy/ABLBounda

[2021-06-15 17:09] marchdf commented on #429
Hi @lawrenceccheung, in theory, this isn't difficult... but hitting all the corner cases is the tricky part. It comes down to a bunch of `if` conditions to get right. If you have a use-case/input file/setup to try this on, I would be happy to see if I can make the necessary changes to make it work.

[2021-06-16 17:18] afanfa opened #430 "AMR-Wind fails to compile with HIP"
Hello all,
as shown by the CI, PR #413 doesn't compile correctly with HIP.
Wouldn't be appropriate for all the member functions (as for operator[]) of the Slice struct to have the AMREX_GPU_HOST_DEVICE attribute?

[2021-06-16 18:44] jrood-nrel commented on #430
We are currently letting CI install the latest HIP when 4.1.1 is required. See https://github.com/AMReX-Codes/amrex/blob/baf0d4cd96fa81ace1c964a2e5601685e97d41f6/.github/workflows/dependencies/dependencies_hip.sh#L19

I will update the CI to use 4.1.1.

[2021-06-16 20:14] afanfa commented on #430
Unfortunately this issue will not be solved by using ROCm-4.1.1 (or future versions, like ROCm-4.3, I have tried, I am an AMD employee). What seem to work is to add AMREX_GPU_HOST_DEVICE in front of the member function of Slice struct in amr-wind/core/Slice.H

For example:

pointer data() { return ptr_begin; } -> AMREX_GPU_HOST_DEVICE pointer data() { return ptr_begin; }
const_iterator data() cons

[2021-06-16 20:18] jrood-nrel commented on #430
Ah, ok. Thanks for the tip. I will try to get this working again soon then.

[2021-06-17 15:22] #430 closed

[2021-06-19 10:08] ArtemTKir commented on #420
Thanks, its works. I think that to add it in examples or/and documentation good idea.

[2021-06-19 10:08] #420 closed

[2021-06-21 19:04] joejoeyjoseph opened #438 "Processing line sampling data"
Hello, I am trying to generate and analyze the data vertically at a point, and I turned on the `LineSampler` option. After the simulation is finished, in `/post_processing/sampling0xxxx`, I notice different types of binary files exist (`DATA_0xxxx` and `Particle_H`). I am unsure which files contain the line sampling data, I cannot differentiate the two points/labels I specified (`ls1` and `ls2` be

[2021-06-21 19:44] sayerhs commented on #438
@joejoeyjoseph The data is saved in native AMReX particle format. You can use the [python script](https://github.com/Exawind/amr-wind/blob/main/tools/amrex_particle.py) in the `tools` directory to extract the data into a Pandas Dataframe.

[code]

[2021-06-27 20:54] ArtemTKir opened #440 "What is the order of accuracy for amr-wind calculations?"

[2021-06-28 15:58] michaeljbrazell commented on #440
Hi, please checkout our verification studies here: https://exawind.github.io/amr-wind/developer/verification.html , the code has been verified to second order accuracy.

[2021-06-29 04:10] aarontcopal2 commented on #378
@ax3l @WeiqunZhang
I'm facing errors using the flag `CMAKE_EXE_LINKER_FLAGS: STRING=-fsycl-targets=spir64_gen-unknown-unknown-sycldevice -Xs '-device Gen9'` on my local machine which has public release of Intel oneapi (DPCPP version: 2021.2.0). I was able to make this work with version 2021.x.0.20210520.

Is this an experimental feature that is only available on certain versions?

[2021-06-29 15:37] WeiqunZhang commented on #378
The AOT feature has been available for more than a year.  Maybe the particular version of oneeapi on your local machine has a bug.  It might also have something to do with the graphics driver.

[2021-07-01 22:41] #440 closed

[2021-07-01 22:42] #438 closed

[2021-07-07 22:34] tonyinme opened #453 "Nacelle force epsilon"
It looks like the minimum value of the nacelle epsilon is set to 1 [here](https://github.com/Exawind/amr-wind/blob/e0335a516ebe4d51e993aa3f6bc134a54c2c2cb7/amr-wind/wind_energy/actuator/turbine/fast/turbine_fast_ops.H#L248).

This should be set to eps_min instead?

[2021-07-08 12:55] raphael-kinvi opened #454 "Downstream turbine not visible for 1 CPU used in simulation"
Hello the community,
I run the Nalu-wind example with uniform air inflow using the Exawind platform and Actuator Line Method (ALM) coupled with Openfast.
The downstream turbine is not visible when I post-processed simulations run using only 1 CPU. However it seems ok for parallel simulations (8cores)

[2021-07-08 13:35] sayerhs commented on #454
@raphael-kinvi Can you confirm that you're running [AMR-Wind](https://github.com/exawind/amr-wind) (this repo) and not [Nalu-Wind](https://github.com/exawind/nalu-wind)? AMR-Wind supports multiple turbines even on a single process, but Nalu-Wind requires number of MPI processes to be greater than or equal to the number of actuator line turbines in the simulation.

[2021-07-08 14:07] raphael-kinvi commented on #454
Excuse me, I am not in the right repo. I am running Nalu-Wind and you have answered my question.
Thank you

[2021-07-08 17:12] #454 closed

[2021-07-08 20:45] #429 closed

[2021-07-20 22:25] #453 closed

[2021-07-21 17:22] ArtemTKir opened #459 "How can I model a turbine / propeller?"
I want to simulate the flow behind a turbine in amr-wind. What parameters should I add to the input file? Are any of the examples suitable for this?

[2021-07-21 17:25] ArtemTKir opened #460 "How can I record the average flow rate in a section to a file?"

[2021-07-21 21:21] tonyinme commented on #459
Hey @ArtemTKir, we have 2 options right now for modeling wind turbines in AMR-Wind.
One option is with an actuator line model and the second option is with an actuator disk model.
Can you provide some details on what exactly you would like to simulate?

[2021-07-23 19:02] ArtemTKir commented on #459
Hello @tonyinme. I am interested in both model.
I want to simulate the flow following a turbine/propeller in a fluid.

[2021-07-23 21:06] tonyinme commented on #459
There is an actuator disk test here: https://github.com/Exawind/amr-wind/tree/main/test/test_files/uniform_ct_disk

For the actuator line, there is a pull request with the following test (using openfast) which will be added soon: https://github.com/tonyinme/amr-wind/tree/openfast_example/test/test_files/act_openfast_nrel5mw

[2021-07-26 17:07] psakievich commented on #459
@ArtemTKir the actuator disk model is a more lightweight option and where I'd recommend starting unless you've already got an OpenFAST model setup for your turbine. However, it is currently under development and should be considered an beta feature so if you have questions or find bugs please post them.

[2021-07-29 21:09] joejoeyjoseph opened #463 "AmrexParticleFile function error"
Hello, I tried to use the `AmrexParticleFile` function, and it gave me errors when I was loading the data. I figured out that the error is related to `pidx` and the offset between different sample towers in `amrex_particle`. I tried to debug it but I could not completely eliminate the error.

I uploaded a directory of my sampling data at
https://github.com/joejoeyjoseph/awaken-code/tree/main/eagle

[2021-07-29 21:46] michaeljbrazell commented on #463
Are you using the native format for sampling? It's probably easier to work with netcdf, is netcdf available on your machine?

[2021-07-30 16:54] michaeljbrazell commented on #460
you can average the entire flow field https://github.com/Exawind/amr-wind/tree/main/amr-wind/utilities/averaging https://exawind.github.io/amr-wind/user/inputs_Averaging.html

or output planes of data https://exawind.github.io/amr-wind/user/inputs_Sampling.html#sampling-on-one-or-more-planes post process the planes after to get an average.

[2021-07-30 17:57] ArtemTKir commented on #460
I was adding parameters in input_file (amr-wind/test/test_files/uniform_ct_disk):

**sampling.labels = line1
sampling/line1.type       = LineSampler
sampling/line1.num_points = 10
sampling/line1.start      = 0.0 0.0 0.0
sampling/line1.end        = 10.0 0.0 0.0**

but it does not work. Amr-wind writed:
**Unused ParmParse Variables:
  [TOP]::io.KE_int(nvals = 1)  :: [0]
  [TOP]::sampling.labels(nval

[2021-07-30 19:28] michaeljbrazell commented on #460
make sure you have this line `incflo.post_processing = sampling` and then change the slashes to .
`sampling/line1.type`   ---> `sampling.line1.type`
and do that for all of them with slashes

[2021-08-01 21:49] ArtemTKir commented on #460
Thanks, its work.
I run with:
**incflo.post_processing = sampling
sampling.output_frequency = 10
sampling.output_format = native
sampling.fields = velocity
sampling.labels = line1
sampling.line1.type       = LineSampler
sampling.line1.num_points = 12
sampling.line1.start      = 0.0 5.0 4.0
sampling.line1.end        = 12.0 5.0 4.0**

I tried to open the files "post_processing / sampling000 * / Head

[2021-08-02 15:16] joejoeyjoseph commented on #463
I am using native format for sampling, and I have netcdf set up. According to the user manual, two options in `sampling.output_format` are available, `native` and `ascii`, and the latter is for debugging only. May I know how to use netcdf in the sampling function?

[2021-08-02 17:39] sayerhs commented on #463
@joejoeyjoseph If AMR-Wind was compiled with NetCDF support, then the default format for output is automatically set to `netcdf`. Since you're getting `native` output, it indicates that either your AMR-Wind build is not linked to NetCDF or you manually set the output format to `ascii` (I am assuming it is the former). You can verify this by looking at the banner when you run AMR-Wind, it will list

[2021-08-02 19:55] joejoeyjoseph commented on #463
@sayerhs Thank you for the explanation. I am running AMR-Wind and analyzing its outputs on NREL's Eagle, and the system is scheduled for maintenance this week. I will check the NetCDF configuration of AMR-Wind and send over the stack trace of the error when it is back online. Thank you again.

[2021-08-04 18:01] tchatte3 opened #465 "Strong and Weak Scaling of AMR-Wind in Summit"
Hi @sayerhs @michaeljbrazell @shashankNREL I am seeing the following scaling trends in summit
I am simulating horizontally periodic domain with 2 layers of mesh refinement

![image](https://user-images.githubusercontent.com/14302216/128219345-2e74b8cc-4cbb-4c25-b712-4852b740c385.png)
![image](https://user-images.githubusercontent.com/14302216/128219462-0f5784bb-7729-4010-94cc-91664047b507.png)
![i

[2021-08-04 18:24] ghost opened #466 "Replay of OpenFAST calculations takes a long time for coupled AMR-Wind/OpenFAST simulation re-start runs"
Currently, to restart a coupled AMR-Wind/OpenFAST simulation from a previous checkpoint, a user specifies a non-zero start time for OpenFAST, e.g. `Actuator.TurbineFastLine.openfast_start_time=60.0` for a prior 60-second simulation. OpenFAST will first “replay” the prior history, after which AMR-Wind and OpenFAST advance in time beyond 60s.

This replay is done for one turbine after another in a s

[2021-08-04 18:31] sayerhs commented on #465
Regarding `scatter2` timings: https://github.com/Exawind/amr-wind/blob/650998941d68cca0e236081be0dd13aa43d33975/amr-wind/wind_energy/actuator/turbine/fast/turbine_fast_ops.H#L473-L474

Can you please make sure that the timings are generated with an MPI Barrier between `fast_step` and `scatter_data` here: https://github.com/Exawind/amr-wind/blob/650998941d68cca0e236081be0dd13aa43d33975/amr-wind/win

[2021-08-04 18:47] sayerhs commented on #466
The serialized execution of turbines is occurring because of the MPI `Bcast` call during initialization here (line 152): https://github.com/Exawind/amr-wind/blob/650998941d68cca0e236081be0dd13aa43d33975/amr-wind/wind_energy/actuator/turbine/fast/turbine_fast_ops.H#L140-L153

Even though the FAST instances are allocated to different MPI ranks they don't proceed in parallel as all the MPI ranks are

[2021-08-04 18:49] sayerhs commented on #466
@jl477 Can you also please confirm that the root process for each turbine is a different MPI rank and that they're not all being allocated to the same MPI rank?

[2021-08-04 19:29] tchatte3 commented on #465
@sayerhs Are you suggesting calling the BL_PROFILE for amr-wind::actuator::ComputeForceOp<TurbineFast>::scatter2" inside line 370 - 373 in turbine_fast_ops.H  and **remove** the other BL_PROFILE() calls.

Right now, the BL_PROFILE() is being called during broadcasting from root to other processes in turbine_fast_ops.H

[code]

[2021-08-04 19:35] sayerhs commented on #465
@tchatte3 No, that won't work. What's happening is that not all MPI ranks call FAST routines in  `fast_step` only 1 process per turbine will do that (determined by `is_root_proc`). So what is happening is that the for a given turbine, all other processes go straight to L475 and wait for the root process to finish its work and process the `Send` call. So the time spent in OpenFAST is getting accoun

[2021-08-04 20:25] tchatte3 commented on #465
@sayerhs
Yes, indeed
[code]
Min is 0.009631 and Max is 98.98.

I see what you say. So, essentially I would need to get timing info between L370 - L373 : could you suggest the command call to print out timings. Should I take help of BL_PROFILE() here ?

Also, I am not sure how to print the ranks for each turbine for the FAST instance in AMR-Wind. I am new to AMR-wind, could you kindly suggest the c

[2021-08-04 20:32] jl477 commented on #466
Hi @sayerhs, thank you very much for responding! I'll try your comment above and report back if I manage to get it going.

I don't know how to find out whether "the root process for each turbine is a different MPI rank". Could you tell us @tchatte3 how? I did a quick search in the log file for a 20-turbine simulation, but I'm not sure if it gives the information that you asked for.
[code]

[2021-08-04 21:37] sayerhs commented on #465
@tchatte3 I would do the following:

- after L370 add https://github.com/Exawind/amr-wind/blob/650998941d68cca0e236081be0dd13aa43d33975/amr-wind/wind_energy/actuator/turbine/fast/turbine_fast_ops.H#L370-L373

[code]

- After L377 add https://github.com/Exawind/amr-wind/blob/650998941d68cca0e236081be0dd13aa43d33975/amr-wind/wind_energy/actuator/turbine/fast/turbine_fast_ops.H#L376-L378

[code]

[2021-08-04 21:40] sayerhs commented on #466
@jl477 @tchatte3

You can add a print statement before L177 https://github.com/Exawind/amr-wind/blob/650998941d68cca0e236081be0dd13aa43d33975/amr-wind/wind_energy/actuator/turbine/fast/turbine_fast_ops.H#L177

[code]

This should print the integer ID for the turbine, the user-assigned turbine label (name) and the process that is handling the FAST instance for that particular turbine.

[2021-08-04 21:45] tchatte3 commented on #465
@sayerhs : makes sense, thanks for helping with the commands.

[2021-08-05 02:46] jl477 commented on #466
Thank you @sayerhs! The print out below is for a 20-tubine simulation using 6 Summit nodes or 36 MPI ranks:
[code]

As to the approach you suggested above, I:
- commented out L179 `fast_replay_turbine(fi);` in `FastIface.cpp`
- added a line `fast_replay_turbine(data);` after L176 in `turbine_fast_ops.H`
- copied and pasted L239-283 which defines `fast_replay_turbine` from `FastIface.cpp` into `tur

[2021-08-05 17:34] joejoeyjoseph commented on #463
Hello,

I am using Python 3.8.10, and the code yields the following error based on the binary sampling data I have (please refer to the first comment I wrote above).

[code]

I tried to change the values of `pidx` in line 106 (e.g. based on the number of the `sampling.labels` listed in the `abl` input file), and such fix could make the code run error-free, but the resultant data frames are still e

[2021-08-09 05:05] daniel-linton opened #471 "Pragma errors when compiling with Intel v20.2.2"
I'm running into a couple of errors related to pragmas when compiling the latest version of amr-wind with Intel v20.2.2. The first is:
[code]
This appears to be resolved by moving the pragma to immediately before the following loop.

The next error that occurs is:
[code]
This looks the same as https://github.com/Exawind/amr-wind/issues/90 and is fixed by specifying the amrex namespace for Gpu::not

[2021-08-09 13:37] nicholasbl commented on #471
I think I encountered some of these issues myself, and have a pending fix for the namespaces in PR #455 .

[2021-08-09 15:44] michaeljbrazell commented on #463
Thanks Joseph, I updated the docs to include the NetCDF option. Can we close this issue now?

[2021-08-10 17:25] michaeljbrazell commented on #471
we merged PR455 did this fix the pragma's for you?

[2021-08-11 01:01] daniel-linton commented on #471
Yep, that's fixed it for me. Thanks!

[2021-08-11 01:35] #471 closed

[2021-08-11 01:38] michaeljbrazell commented on #460
Do you have access to NetCDF? If so, that might be easier to work with. Check this out: https://github.com/Exawind/amr-wind/issues/463

[2021-08-12 11:45] maxshatsky opened #472 "CMake Error at while installing amr-wind: string sub-command STRIP requires two arguments."
I was following instruction from here:
https://exawind.github.io/amr-wind/user/build.html

Running command
$ cmake -DAMR_WIND_ENABLE_TESTS:BOOL=ON ../

has led to the following error:
CMake Error at submods/amrex/Tools/CMake/AMReXUtils.cmake:20 (string):
  string sub-command STRIP requires two arguments.

Investigation of the mentioned file has shown the difference between strings containing STRIP

[2021-08-12 14:01] marchdf commented on #472
Hi, thank you for reporting this! Unfortunately, this is happening in the AMReX package and not in AMR-Wind. Would you mind reporting your issue and fix to the AMReX community? You can create an issue here: https://github.com/AMReX-Codes/amrex

[2021-08-12 14:12] maxshatsky commented on #472
Oh, you are right, the issue comes from original AMReX and now is reported, ty.

[2021-08-12 14:12] #472 closed

[2021-08-12 16:15] lawrenceccheung commented on #466
The changes suggested above have been implemented in my branch at https://github.com/lawrenceccheung/amr-wind/tree/fix_fast_replay.  However, I haven't tested it, so we'll need to make sure that it behaves properly.

Lawrence

[2021-08-12 17:17] joejoeyjoseph commented on #463
Sure, we can close this issue. Please be aware that the `amrex_particle` code can potentially cause problems.

[2021-08-12 17:17] #463 closed

[2021-09-14 05:06] psakievich commented on #459
@ArtemTKir I believe we have answered your questions. Feel free to re-open if you have any follow on questions.

[2021-10-01 17:56] aarontcopal2 commented on #378
Can I get some help on this @WeiqunZhang @ax3l?

I have access to only one oneapi version (the one released for public use). Could you test out at your end and see if this issue persists?

Could you elaborate?

[2021-10-03 16:22] WeiqunZhang commented on #378
How to disable google test?  The latest dpcpp fails to compile it.

[2021-10-03 16:38] sayerhs commented on #378
@WeiqunZhang set this parameter to OFF during cmake configure

https://github.com/Exawind/amr-wind/blob/d6a6de8d2230aa52e9663264b7e2e162b98034ce/CMakeLists.txt#L21

[2021-10-03 20:44] WeiqunZhang commented on #378
I have not got any errors yet.  But it has been more than 4 hours and it's still doing AOT at link time.

[2021-10-25 20:49] tonyinme opened #493 "Virtual Lidars"
This is a feature request for virtual lidars.
This feature is needed for the DOE Rotor Aerodynamics, Aeroelastics and Wake (RAAW) Experiment.

Examples of virtual lidars in other codes are here:
[SOWFA](https://github.com/NREL/SOWFA/tree/master/src/postProcessing/functionObjects/utilities)
[Nalu-Wind](https://github.com/Exawind/nalu-wind/blob/master/src/wind_energy/SyntheticLidar.C)

The lidars ne

[2021-11-01 19:55] lawrenceccheung opened #499 "Incorporating outside development branches as draft PR's"
Based on the discussions from our group, we are starting to see issues where a lot of simulations and development work is happening on people's personal branches.  This is pretty natural, but eventually leads to situations where simulations are hard to replicate because of unknown executable versions, massive commits when it comes time to merge things back in, duplicated code development, a whole

[2021-11-01 20:26] lawrenceccheung opened #500 "Create a new user tutorial with up-to-date examples"
Starting an issue to track the creation of a new user tutorial with up-to-date examples.

The few tasks I see under this issue are:
- Creating a tutorial section in the sphinx documentation
- Choosing which cases to include in the tutorial
- Writing documentation for the cases (obviously)
  - I'm thinking of end-to-end documentation, covering case setup, running, and postprocessing
- Figuring out

[2021-11-01 22:05] yuya737 opened #501 "AMReX_SetupCUDA is deprecated for CMake >= 3.20"
I have been building AMR-Wind on Summit as part of my testing for Ascent. With CMake version 3.20, I am getting the warning

`AMReX_SetupCUDA is deprecated for CMake >= 3.20: it will not be processed!`

and ultimately have link issues with CUDA symbols.

AMReX appears to have changed their CMake-ry for CUDA with this change: https://github.com/AMReX-Codes/amrex/pull/2012

I tried modifying `cmake/

[2021-11-01 22:11] jrood-nrel commented on #501
Hello. I'm using CMake 3.21.3 on Summit for AMR-Wind and I do not experience link issues. I always see the `AMReX_SetupCUDA` warning. Can you provide the link error and any more information?

[2021-12-01 22:47] tonyinme commented on #493
First lidar has been implemented: https://github.com/Exawind/amr-wind/pull/502

Next steps:

- [ ] Add capability to sample more than once per -time-setp.
- [ ] Add DTU Spinner Lidar

[2021-12-01 22:57] tonyinme opened #507 "NetCDF"
We have seen a slowdown of ABL precursor simulations when using NetCDF boundary data output on Eagle and Summit.
There seems to be a size limit and some cases are too big and won't run.
Some issues have been traced to the `put` call.

Specific cases:
- [ ] 900 x 450 inflow in x and y will not run
- [ ] 512 x 512 inflow in x sees a slowdown of 10 seconds per time-step

[2021-12-01 23:11] ashesh2512 commented on #507
I also want to add, we are putting 5 variables per every cell.

[2021-12-02 11:59] sayerhs commented on #507
@tonyinme Do you see slowdown both during output as well as reading in the data, or just the output? It would be good if you could share the memory usage statistics for this case @michaeljbrazell and @marchdf  can help there.

@marchdf  We might want to test this without parallel NetCDF for this case. Or switch to AMReX format.

[2021-12-02 14:42] marchdf commented on #507
There's a lot of chatter about this going on. We have a meeting for this on Monday. My personal take is that we should have a switch to use native amrex format. Netcdf has been a headache since we first put it in the code...

[2021-12-02 20:40] tonyinme commented on #507
Hey @sayerhs, I confirmed with @ashesh2512 and @neilmatula that most slowdowns are coming from output. However, there might be some others that have observed a slowdown with reading.

[2021-12-10 13:26] sofYarikova commented on #459
I want to simulate the flow behind a turbine in amr-wind wihout any velocity.
Which type of actuator can I use for it? Or how can I do this?

[2021-12-10 13:28] psakievich commented on #459
@sofYarikova what do you mean flow without velocity? could you clarify a little more?

[2021-12-10 13:58] sofYarikova commented on #459
I want to simulate the flow following a _turbine_ without initial flow velocity. Now I'm working at uniform_ct_disk.
And I need Actuator.UniformCtDisk.wind_speed = 0.0 0.0 0.0

[2021-12-11 06:06] psakievich commented on #459
so you just want an initial condition with velocity = [0, 0, 0], but you will still set a velocity or pressure gradient on a boundary?  like plug flow? the wind_speed variable helps to define a looks up table to interpolate the coefficient of thrust at the wind speed the turbine is exposed to. it does not control the velocities in the simulation. I'm not sure about the initial conditions though. @

[2021-12-12 02:43] lawrenceccheung commented on #459
Hi @sofYarikova, I'm not sure I fully understand the problem, but I can see it interpreted a couple of ways.  One way is that you'd like to simulate the startup sequence of a wind turbine, i.e., starting from zero rotor speed and zero wind velocity, and determine its response to a wind ramp.  Another way to interpret the problem statement is that you'd like to simulate the flow behind a wind turbi

[2021-12-15 17:27] neilmatula opened #515 "KSGS issues on restart with refinement"
The OneEqKsgs84 turbulence model seems to sometimes have issues when restarting and adding refinement at the same time.
The residual reported for all equations becomes zero after the first timestep.
A small case that demonstrates the issue is defined by the two attached input files.
To reproduce the issue, run precursor.i, followed by turbine.i.
For reference, this was done on eagle using 64 proce

[2021-12-15 23:43] gantech commented on #515
`#¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨#
#        ADAPTIVE MESH REFINEMENT       #
#.......................................#
amr.n_cell              = 128 128 32    # Grid cells at coarsest AMRlevel
amr.max_level           = 2           # Max AMR level in hierarchy
#¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨#
#              GEOMETRY                 #
#.......................................#
geomet

[2021-12-16 00:07] neilmatula commented on #515
No, it should refine according to the refinement blocks blocks at the very bottom, in the mesh refinement section.

[2021-12-16 00:44] psakievich commented on #507
After speaking with @gdsjaar today we've decided on this plan of attack:

1. Try using `NC_NETCDF5` instead of `NC_NETCDF4` for the parallel output. This uses an entirely separate parallel implementation and may perform better.  There is a limitation that each field must be less than `2^32` bytes with the `NC_NETCDF5` but it does not seem likely we will hit that limit any time soon, and this is si

[2021-12-16 03:31] ashesh2512 commented on #507
@psakievich Regarding item no. 3, we have tried NetCDF 4.8.0. However, we haven’t tried it in conjunction with HDF5 1.12

[2021-12-17 12:28] sofYarikova commented on #459
Thanks for your answer, the second situation is closer to my problem, but I want to simulate propeller as a generator energy, i.e., there is zero flow velocity and  turbine  rotates with a fixed omega in a stationary environment

[2021-12-17 12:41] sayerhs commented on #459
@sofYarikova We haven't tested the code in propeller mode, so it might require some code modifications.

You will need to modify the actuator code to operate in hover/forward flight mode instead of _windmill brake state_.

In addition, you'll need to switch the boundary conditions at the inlet/outlet domains. You'll need to experiment with `pressure_inflow` and `pressure_outflow` instead of `mass_

[2021-12-17 17:14] lawrenceccheung commented on #507
I'm working now with @psakievich to test out the `NC_NETCDF5` version.  Looks like there's still some bugs to fix.  However, I did obtain some baseline timing information for the problem on the Sandia machines as well.  I'm using the small IEA29 ABL test case [here](https://github.com/lawrenceccheung/IEATask29_precursor/tree/main/REF1_ABLIO/baseprecursor), which is 128 x 128 x 160, and the total s

[2021-12-21 17:38] pscrozi commented on #507
Michael D’mello from Intel suggested we might reach out to a couple of I/O / netcdf experts if needed:

Alfizah, Kurniawan kurniawan.alfizah@intel.com
or Kevin Harms (ANL)

[2021-12-24 14:10] sofYarikova commented on #459
Hi @psakievich! I'm trying to remake one of the test_files for my work ( test - uniform_ct_disk) and I can't understand how we set value to ddata.reference_velocity. What is it?  Does xlo_velocity affect ddata.reference_velocity?

And how we get  ddata.current_ct? I see, it is a linear interpolation, but what is it? How is this coefficient related to speeds?

[2021-12-25 06:19] psakievich commented on #459
@sofYarikova the `reference_velocity` is the average value from the upstream sampling points and it represents the freestream velocity.  It is computed [here](https://github.com/Exawind/amr-wind/blob/8e8352c985555f126e221271125a7194b1f27334/amr-wind/wind_energy/actuator/disk/uniform_ct_ops.H#L105-L123).  The `disk_velocity` in this computation is the velocity at the rotor plane.  We use `reference

[2021-12-26 21:41] sofYarikova commented on #459
@psakievich, i don't quite understand how the upstream sampling points are set and how it represents the freestream velocity.
(num_vel_points_r/t - what do these values depend on?)

And interpolation... we use wind_speed - is it max speed at which current_ct  is realized? Or what is it? If wind speed is less than the freestream velocity, then linear interpolation will not be generated?

Finally sh

[2021-12-28 18:11] psakievich commented on #459
@sofYarikova perhaps I was being a little misleading. x_lo.velocity is a boundary condition.  it really doesn't have anything to do with this other than setting the inlet velocity.  the `num_vel_points_r/t` are the number of velocity points radial and azimuthal directions (r, and theta).  The  method works by sampling a projection of the rotor disk at whatever location you desire in the disk norma

[2021-12-28 21:55] sofYarikova opened #525 "Dynamic refinement question"
Hello,

I tried to refine the base mesh, the refinement criteria is FieldRefinement.
The following is the setting in my file:

----------------------------------------------------------------------------------------------------------------------------------------------
time.regrid_interval = 2
amr.max_level = 2

tagging.labels = velocity

tagging.velocity.type = FieldRefinement
tagging.velocity.fi

[2022-01-03 10:44] sofYarikova commented on #459
@psakievich, hi! Sorry for so many clarifications and questions, I'm trying to remake this test for my own setting and there are some inconsistencies with it.
You said that the _num_vel_points_r/t_ are the number of velocity points, but there are _num_force_points_, and then I don't understand exactly how the speed and force are dispersed over the disk. How many points? In the direction? Are they

[2022-01-03 14:12] tonyinme commented on #493
Code to sample more than once within a time-step has been added here: https://github.com/Exawind/amr-wind/pull/513

[2022-01-03 16:57] psakievich commented on #459
@sofYarikova there are two sets of points `num_vel*` are the velocity sampling points and they exist upstream of the rotor plane.  They are projected in cylindrical coordinates with the rotor hub (projected upstream) as the origin.  The force points exist at the rotor plane.  They are only applied in the radial direction (it is a 1D line from the hub to tip) and then we use a linear basis to sprea

[2022-01-12 16:22] psakievich commented on #459
@sofYarikova epsilon is the characteristic length scale for smearing the discrete forcing from an actuator point to a volume.  Some times this is referred to as the spreading or smearing function.  If you are unfamiliar with this concept I would recommend reviewing the 2001 paper by Sorensen and Shen. The classic Gaussian model uses force points like what is seen in figure 1 of this [publication](

[2022-01-19 12:24] sofYarikova commented on #459
@psakievich there are some quastions with aeroPressure.   Is it a normalized value? Is it pressure divided by density?? What is the dimension of this variable?

For example, if I have the following parameters: pressure (I set aeroPressure as a constant) = 280, density = 1000,  turbine's diameter = 0.1м, then velocity should be about 0.74 m/s, but it is more.

[2022-01-19 16:58] psakievich commented on #459
`aeroPressure` is not a variable that is exposed through the API. It is a local variable inside a subroutine. The definition is fairly concise inside the code. It is `0.5*U_\inf^2*\rho*C_t`. So just the basic computation of force divided by area. If you are setting this variable manually then you will need to be consistent with the original definition.

[2022-01-21 14:32] AndreyBritov opened #554 "Issue with actuator line model"
Hello!
I am trying to run NREL 5MW OpenFAST example, but have following error:
![Снимок экрана от 2022-01-21 17-28-10](https://user-images.githubusercontent.com/86724415/150543857-e65c1ca0-e25b-4c8f-a148-677060a43579.png)
For unknowing reasons, amr-wind don`t see the TurbineFastLine actuator.
Is it possible to compile it separately? Or maybe I am using old version without such kind of actuator mod

[2022-01-21 14:36] sayerhs commented on #554
@AndreyBritov The actuator line model depends on [OpenFAST](https://github.com/openfast/openfast). The default CMake build of AMR-Wind doesn't link to OpenFAST. You will have to first compile OpenFAST and then configure and build AMR-Wind by asking it to link to AMR-Wind.

[code]

[2022-01-21 15:03] AndreyBritov commented on #554
Dear Sayerhs,
Thank you!
I have tried to do this:
![Снимок экрана от 2022-01-21 17-59-19](https://user-images.githubusercontent.com/86724415/150549268-e33c13a9-5be4-4149-8fcc-1fb05fd658ed.png)
But after building AMR-Wind with make, i got following errors:
![Снимок экрана от 2022-01-21 17-59-32](https://user-images.githubusercontent.com/86724415/150549369-63f22472-d3ae-498d-8f0b-1f0f69c20fe5.png)
A

[2022-01-26 10:44] AndreyBritov commented on #554
Hello!
Sorry for my long absent.
I`ve tried to change OpenFAST version, as you said
![Снимок экрана от 2022-01-26 13-38-18](https://user-images.githubusercontent.com/86724415/151148806-538f72f9-d8cd-4dc5-b180-109faf9e87fd.png)
But error has not disappeared.
![Снимок экрана от 2022-01-26 13-38-32](https://user-images.githubusercontent.com/86724415/151148983-c9991650-ec56-40a2-9650-470a379cf94f.png)

[2022-01-26 13:21] sayerhs commented on #554
@AndreyBritov The [SC header file](https://github.com/OpenFAST/openfast/blob/v2.6.0/modules/supercontroller/src/SuperController_Types.h#L23)  in OpenFAST v2.6.0 has the types that AMR-Wind is expecting. Can you confirm that what is installed and accessed by AMR-Wind during compilation time is indeed OpenFAST v2.6.0?

For example, in OpenFAST install bin directory, if you execute the openfast execu

[2022-01-26 14:35] AndreyBritov commented on #554
Sayerhs, thank you for your reply!
When I am executing file in install bin directory, I have following situation:
![Снимок экрана от 2022-01-26 17-20-32](https://user-images.githubusercontent.com/86724415/151180103-3683fb56-1a1d-43f6-a09c-444523966a2d.png)
I don`t know, why instead of OpenFAST version there is written -HEAD-HASH-NOTFOUND

[2022-01-31 11:59] AndreyBritov commented on #554
Dear Sayerhs,
Thank you, for your advice about cloning openfast directory from git!
I made it:
![Снимок экрана от 2022-01-31 14-55-08](https://user-images.githubusercontent.com/86724415/151789859-10cbadef-a067-4163-a636-348cf376d812.png)
But, actually, it`s bringing no results, issue the same:
![Снимок экрана от 2022-01-31 14-55-15](https://user-images.githubusercontent.com/86724415/151789957-e6de

[2022-02-02 22:43] michaeljbrazell commented on #515
this might help: https://github.com/Exawind/amr-wind/pull/492

[2022-02-04 02:52] tonyinme commented on #515
This [function call](https://github.com/Exawind/amr-wind/blob/c1531ecc7ccccef0956cb72e3461535375dbe4f6/amr-wind/equation_systems/tke/source_terms/KsgsM84Src.cpp#L59) throws an error in the debug build.

I am not entirely sure what this does, but this fix supresses the error: ` amrex::Box blo = amrex::adjCellLo(bx, dir, 1) & bx;`
Is this the right thing to do?

@michaeljbrazell @gantech @neilmatula

[2022-02-07 18:03] lawrenceccheung commented on #507
Although this isn't technically related to the NetCDF version, I also tested `b1e28426` with the native boundary I/O format from @michaeljbrazell (see [PR 557](https://github.com/Exawind/amr-wind/pull/557)) on the IEA29 test case.

Dumping out the the boundary planes in the native format averaged `0.232518` sec/iter, which is close to the performance without any boundary plane output.

Lawrence

[2022-02-10 17:36] tonyinme opened #569 "Compilation missing documentation"
There is a new compilation variable `AMR_WIND_REFERENCE_GOLDS_DIRECTORY` that is required when tests are turned on, but there is no documentation about it. A workaround is to turn tests off.

[2022-03-21 16:27] rybchuk opened #597 "Docs through github.io versus readthedocs.io"
AMR-Wind documentation can be found both at [https://exawind.github.io/amr-wind/](https://exawind.github.io/amr-wind/) and at [https://amr-wind.readthedocs.io/en/latest/](https://amr-wind.readthedocs.io/en/latest/). The banner on readthedocs.io says that it is the "latest" version of the documentation, but it is missing more recent documentation that can be found on the github.io page (e.g., [virt

[2022-03-21 16:50] jrood-nrel commented on #597
Thanks for reporting this. I've deleted the RTD page and removed the references to it since it was unintentional it still existed.

[2022-03-21 17:27] #597 closed

[2022-04-20 19:18] yoonc5536 opened #610 "CMake building doesn't bring the entire regression test cases"
Building AMR-Wind using CMake does not bring the entire test cases in the build directory. Particularly, latest test case, channel_mol_mesh_map_x, is not included in the build directory.

[2022-04-20 19:23] jrood-nrel commented on #610
Those tests require hypre. Do you have hypre enabled?
https://github.com/Exawind/amr-wind/blob/19b0aeda8bacd5359de3ccb10de89e3c69875204/test/CMakeLists.txt#L220-L226

[2022-04-20 20:08] yoonc5536 commented on #610
Thank you for fast response. After installing HYPRE, I was able to have mesh mapping-related test cases.

[2022-04-20 20:08] #610 closed

[2022-04-22 15:24] rybchuk opened #611 "First timestep for boundary planes varies with data format"
I ran into unexpected behavior when launching a turbine simulation using boundary plane data from a precursor simulation. I ran two more precursor simulations to investigate this behavior.

Let's say my precursor simulation has `time.fixed_dt = 1.0` and I set `ABL.bndry_output_start_time = 8999.0`. If I set the boundary output format to be netCDF `ABL.bndry_output_format = netcdf`, then the first

[2022-04-22 15:42] tonyinme commented on #611
Hey @rybchuk , thanks for pointing this out.

@michaeljbrazell , I am surprised that this does not show up in the [test](https://github.com/Exawind/amr-wind/blob/main/test/test_files/abl_bndry_input_native/abl_bndry_input_native.i).
Do you have any ideas?

[2022-04-28 20:33] rybchuk commented on #515
I ran into this issue as well in some of my convective simulation too, and I was seeing some weird behavior. If I picked one restart time (e.g. 10000 seconds), my simulation would run just fine. If I picked other restart times (e.g. 9000 seconds, 11000 seconds), my simulation would go to 0 CFL after just one timestep.

[2022-05-03 17:46] rybchuk commented on #611
@tonyinme, @michaeljbrazell helped me look into this issue. Turns out the tests were passing because `abl_bndry_output_native.i` started outputting data at `2.0` seconds (which is the 4th timestep), but `abl_bndry_input_native.i` used a restart file that started at the 5th timestep, which circumvents this issue. I'll submit a PR in just a second to resolve this.

[2022-05-09 14:31] afanfa opened #619 "HIP and CUDA backends failing unit test"
Hello,
when using either the HIP or CUDA backend, the first unit test fails due to an illegal memory access; likely a CPU pointer is being read on the GPU or vice versa.
The problem started with commit: 9e008bb69837e7f02912ef191e138996d3280b5f .
Is there a plan to fix this anytime soon?

[2022-05-09 16:10] jrood-nrel commented on #619
Thanks for reporting this. It has showed up in our tests as well. https://my.cdash.org/test/55248308

[2022-05-09 18:02] #619 closed

[2022-05-09 18:02] #611 closed

[2022-06-11 02:35] lawrenceccheung opened #632 "Joukowsky disk `num_points_t` dependence"
There might be an odd dependence of the Joukowsky disk forces and velocities on the value of `num_points_t`.  As you increase `num_points_t` (keeping everything else constant), the rotor disk velocity and actuator disk forces goes down monotonically:

![image](https://user-images.githubusercontent.com/15526007/173168792-e459790c-106a-4a29-8894-f7256ff42097.png)

FWIW, the averaged rotor velocity w

[2022-06-13 11:35] psakievich commented on #632
On it.  I'll add this fix in with the Cp computation.

[2022-06-14 17:25] psakievich opened #634 "Actuator Disk TODO's"
- [x]  Remove density as an actuator specific input #640
- [x] Default num_blades to 3 for Joukowksy #635
- [x] Consolidate syntax for `num_points_r` #635
- [x] Input as TSR or RPM instead of omega #645
- [x] Output TSR in ncfile #635
- [ ] Make it work with mesh mapping #647
- [ ] Create file reads for the table of look up quantities
- [x] Add `f_theta` and `f_z` output to ncfile #635
- [x] Add a

[2022-06-15 19:54] lawrenceccheung commented on #634
@neilmatula and I are realizing that the `actuator_src_term[x,y]` output is dependent on mesh resolution, which makes it hard to compare against literature.  So I added `f_theta` and `f_z` output to this list to help with validation.

Lawrence

[2022-06-16 21:26] lawrenceccheung commented on #634
Sorry, adding one more minor thing to the list.  Since it seems like `vortex_core_size` has an impact on the comparisons (at least with Sorensen's cases), we should probably give it a reasonable value to start with if people don't have any idea what it should be.

Lawrence

[2022-06-16 21:40] psakievich commented on #554
@AndreyBritov can you comment on this issue? I believe it should be resolved now.

[2022-06-16 21:42] psakievich commented on #459
I'm going to close this issue since there has been no traffic in a while. @sofYarikova feel free to reopen or create a new issue if further questions exist.

[2022-06-16 21:42] #459 closed

[2022-06-16 21:45] psakievich commented on #465
Closing for now. Please reopen if further questions exist.

[2022-06-16 21:45] #465 closed

[2022-06-16 22:03] psakievich opened #636 "Linting in cpp-check is causing every PR to fail"
There are a handful of outstanding linting issues from cpp-check that need to be resolved so we can start having PR's passing CI again. It looks like a couple new errors have made their way in the last week or so. Likely because people see errors unrelated to their changes and look no further.

Creating an issue to track this and resolve them.

[2022-06-16 23:24] #632 closed

[2022-06-20 11:55] mdorier opened #637 "Exception "CFL is below machine epsilon...""
(Sorry if posting an issue is not the right way to request help on AMR-WIND usage; I failed to find an alternate way)

I'm looking into AMR-WIND in the context of in situ analysis/visualization with Ascent. I'm not a physicist, so I don't know how to interpret the AMR-WIND input files. I've been provided with an input file that is supposed to run on a laptop, but when I run it, I'm getting this ex

[2022-06-20 12:10] gdeskos commented on #637
Hmm, we have fixed this one in a local branch. I can do a quick PR with the fix later today

[2022-06-20 20:51] mdorier commented on #637
I got the config to run by changing `time.fixed_dt` to `0.001` (instead of `-0.001`) but I don't know to what extent this is changing the physics of the simulation.

[2022-06-21 17:22] lawrenceccheung commented on #634
And one more minor thing while I'm thinking about it.  Was just thinking it would be handy to include a `diskType` flag to the ncfile to indicate whether it's a `UniformCtDisk` or `JoukowskyDisk` type.  Just a minor convenience thing, but I might use it in the postprocessing scripts so I can tell whether to expect things like TSR output or not.

Lawrence

[2022-06-22 05:23] psakievich commented on #637
@mdorier the error you are getting is just saying that the condition used to determine how big of a timestep the simulation can take (CFL) with adaptive time stepping is so small that it will make the calculation of the next timestep susceptible to precision errors.  By changing it to a positive number you are fixing the time step and avoiding this computation.

The physics should be fine. It is j

[2022-06-24 10:08] mdorier commented on #637
@psakievich thanks for the explanation!
@gdeskos can you let me know when the fix is pushed? (or can you point me to the branch so I can integrate it on my local clone?)

[2022-07-21 16:08] afanfa opened #651 "Return status change for hipDeviceSetSharedMemConfig"
Hello all,
AMD devices do not support shared cache banking (https://rocmdocs.amd.com/en/latest/ROCm_API_References/HIP_API/Device-management.html#hipdevicesetsharedmemconfig) and so hipDeviceSetSharedMemConfig has a dummy implementation for AMD platforms.
In the past hipDeviceSetSharedMemConfig was always returning hipSuccess, which gives wrong information to user as it does not do any effect on A

[2022-07-21 16:10] afanfa commented on #651
Sorry, just realized this is an AMReX issue. Feel free to treat the issue as an FYI.

[2022-07-21 16:24] #651 closed

[2022-07-21 16:24] afanfa commented on #651
Issue fixed in AMReX

[2022-08-03 16:42] psakievich commented on #634
@neilmatula and @ndevelder can you update anything you've done on this issue?

[2022-08-03 16:45] neilmatula commented on #634
@psakievich
Done!
I checked the Input TSR and vortex_core_size boxes.

[2022-08-25 20:42] lawrenceccheung opened #670 "Typo in root correction for Joukowski disk"
There might be a typo in the calculation for the root correction in the Joukowski disk model.  In the [Joukowsky_ops.H](https://github.com/ExaWind/amr-wind/blob/main/amr-wind/wind_energy/actuator/disk/Joukowsky_ops.H):

https://github.com/Exawind/amr-wind/blob/4805d0038b728eefd79899cb74e8ccf032538abc/amr-wind/wind_energy/actuator/disk/Joukowsky_ops.H#L75-L90

should that be `vortex_core_size` divi

[2022-08-25 22:01] #670 closed

[2022-08-26 19:11] #636 closed

[2022-08-27 00:24] tonyinme opened #673 "Force points and velocity points are in different locations in ALM"
There are two locations of actuator points to store information in the ALM that gets passed to and from OpenFAST.
The velocities are sampled in one location and the forces are applied in another location.
In the case of very fine epsilons (epsilon/chord=0.25) this has a big impact in velocity sampling and loads (producing unrealistic results).
In simulations of the NREL 5MW, the code samples veloc

[2022-08-27 03:08] #554 closed

[2022-09-02 21:36] tonyinme commented on #673
This bug is being addressed on the [OpenFAST side](https://github.com/OpenFAST/openfast/issues/1232).
We will require some code changes in amr-wind after the OpenFAST changes are implemented.

[2022-09-15 20:43] psakievich opened #683 "Bugs in GeometryRefinement"
I have noticed a few bugs with GeometryRefinement. For example if I do a cylinder refinement and change the outer radius from 5 to 1 it does not change my refinement region
[code]
<img width="1414" alt="image" src="https://user-images.githubusercontent.com/12102506/190504125-8cab90d8-91a5-4e4b-91c8-8ea3c065686a.png">

Using a box refinement my box is not being put in the correct location

[code]

[2022-09-15 21:50] lawrenceccheung commented on #683
Hi @psakievich, that's interesting.  I haven't had issues so far, but would you able to test out a case which previously worked?  I've been doing turbine cases with
[code]
(see https://github.com/Exawind/wind-energy/blob/master/HFM_FY22Q4_ControlsBlockage/turbinecalibration/RunCalibration_IEA15MW_test.ipynb).  The refinement zones should look like:
![image](https://user-images.githubusercontent.co

[2022-09-15 23:31] psakievich commented on #683
I can't seem to reproduce the box issues today.  Not sure what is going on at this point.

[2022-11-02 20:55] mbkuhn commented on #637
Hi @mdorier, this issue has now been fixed in the main branch of amr_wind. You should be able to run the dam_break case with an adaptive dt if you like. Furthermore, we have added significant improvements to the multiphase scheme within the code, so it is now mass- and momentum-conserving, as well as much more robust. Let us know if there are any further issues. I apologize that this took so long

[2022-11-03 16:24] gantech opened #711 "How to estimate number of cells and optimal number of processors with static grid refinement"
For running wind turbine/farm simulations, we routinely create static grid refinement boxes of various kinds... cylinder/box/combinations. Is there an AMReX or some utility I can run without running the simulation that will tell me the total number of cells after refinement (after accounting for padding etc.) like shown in a typical output below?

I assume the optimal number of processors will als

[2022-11-03 17:15] lawrenceccheung commented on #711
Hi @gantech,

You can use the [amr-wind frontend](https://github.com/Exawind/amr-wind-frontend) tool to estimate the mesh size given a set of static refinement zones.  We've used it before to help setup large cases and figure out how big of case we're dealing with.  For instance, in a previous HFM milestone I estimated the mesh in this notebook:
https://github.com/Exawind/wind-energy/blob/master/H

[2022-11-09 12:01] euzenatf opened #715 "PRIVATE"

[2022-11-09 17:46] #715 closed

[2022-11-17 23:55] marchdf opened #722 "Debug build failing when `velocity_diffusion.use_segregated_operator = true`"
Using latest amr-wind and a debug build (clang), the [attached input file](https://github.com/Exawind/amr-wind/files/10036559/cylinder-amr.inp.txt)  will throw
[code]
This is the backtrace:
[code]

One can avoid this error by switching to `velocity_diffusion.use_segregated_operator = false`. Looks like some BC isn't getting passed through to MLMG? This is a part of the code I am not familiar with

[2022-11-18 18:52] michaeljbrazell commented on #722
https://github.com/Exawind/amr-wind/commit/7b68af2e306bb9198e05391cb8296bf94057c0d1
https://github.com/Exawind/amr-wind/pull/623

[2022-11-18 22:26] marchdf commented on #722
@sbidadi9 this looks like something that came from your PR. Can you check this out?

[2022-11-19 00:55] tonyinme opened #726 "Improvement to FLLC in turbine case"
There was a bug in the filtered lifting line theory correction that has been addressed [here](https://github.com/Exawind/amr-wind/pull/725).
This has been fixed for the case of a fixed wing.

There are still some differences present in the case of a turbine coupled to openfast.
The correction works, but the magnitude of the correction is off when compared to a refined simulation with optimal value

[2022-11-21 21:38] psakievich commented on #726
@tonyinme this plot is interesting. Would you comment on the temporal convergence of the profiles in these cases?  More of a sanity check since the relaxation factor for the FLLC is pretty heavy.  Are we sure the runtime and averaging is sufficient for both cases to give a converged result?

[2022-11-21 21:50] tonyinme commented on #726
Thanks @psakievich , that's a good point about the relaxation.
Yes, the simulations are converged. They run for 200 seconds.

[2022-11-22 22:25] andrew-platt commented on #673
The meshes have now been updated in the OpenFAST dev branch and will be included in the 3.4.0 release (https://github.com/OpenFAST/openfast/pull/1324).  See also issue https://github.com/OpenFAST/openfast/issues/1344.

[2022-11-22 22:28] andrew-platt commented on #673
Also see https://github.com/OpenFAST/openfast/issues/1344 for mesh refinement in AeroDyn 15.

[2022-11-23 01:36] rybchuk opened #731 "Crash with CoriolisForcing and GeostrophicForcing"
I am trying to run a simulation that uses both `CoriolisForcing` and `GeostrophicForcing`, but I immediately ran into an unexpected crash and error.

[code]

I am trying to run this simulation with a value of `CoriolisForcing.latitude = 45.0`. Notably, I found that this error goes away if...
* I instead use `CoriolisForcing.latitude = 90.0`, or
* I use `ABLForcing` instead of `GeostrophicForcing`,

[2022-11-23 02:47] michaeljbrazell commented on #731
@gdeskos is working with Jarred to fix this here: https://github.com/Exawind/amr-wind/pull/665

[2022-11-29 17:51] #637 closed

[2022-11-29 17:52] #501 closed

[2022-11-29 17:54] marchdf commented on #525
Hi, apologies for never addressing this issue. Were you able to resolve it? This can be due to a number of reasons and I would have to see the full input file to give a better answer.

[2022-11-29 17:55] marchdf commented on #460
@ArtemTKir I am going to assume this was resolved. If not, please reopen.

[2022-11-29 17:55] #460 closed

[2022-11-29 17:56] marchdf commented on #168
Looks like this was fixed so I am closing this. Please reopen if not.

[2022-11-29 17:56] #168 closed

[2022-11-29 17:58] marchdf commented on #222
From what I can tell in the code, this looks done. Please reopen if not.

[2022-11-29 17:58] #222 closed

[2022-11-29 19:04] marchdf commented on #353
@tonyinme maybe this has been resolved or I am not understanding the issue. I can have output data that runs until t=5 and then have the other one read the data and complete with
[code]

Obviously, step 19 that goes from 5.0 to 5.1 won't complete. But I think that is to be expected? Here are the input files I am using:
- [abl_bndry_output.inp.txt](https://github.com/Exawind/amr-wind/files/10116318

[2022-11-29 20:19] marchdf opened #735 "AMR at inflow not working"
Having AMR levels touch an inflow BC leads to spurious velocity at the AMR corners. This input file illustrates the issue: [freestream-amr.inp.txt](https://github.com/Exawind/amr-wind/files/10116961/freestream-amr.inp.txt). Inflow at xlo and ylo with vx = vy = 1.0.

![Screen Shot 2022-11-29 at 13 17 00](https://user-images.githubusercontent.com/15038415/204638867-82876163-0d53-4d6b-a4a7-a214e16aea

[2022-11-29 22:01] ashesh2512 commented on #722
This is absolutely essential for being able to use nsolve for the velocity solve because nsolve only works for scalar equations.

[2022-11-29 22:59] sbidadi9 commented on #722
@marchdf I could reproduce the issue with the latest commit. I will investigate the issue further. Thanks.

[2022-11-29 23:25] marchdf commented on #735
Notes from debugging:
- Setting `incflo.do_initial_proj = 0` "solves" the issue
- So does commenting out L353 (`nodal_projector->project(options.rel_tol, options.abs_tol);` in `incflo_apply_nodal_projection.cpp`
- Printing BC values seems like they are being set correctly
- Increasing verbosity shows that the initial projection is clearly doing something strange:
[code]

[2022-11-30 17:49] marchdf commented on #353
Closing. Please reopen if I didn't address the issue.

[2022-11-30 17:49] #353 closed

[2022-11-30 17:58] tonyinme commented on #353
Sounds good @marchdf . It looks like this has been addressed and I have not run into this in a while.